/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
    background-image: url(https://preview.redd.it/bnef3fhuqm261.png?auto=webp&s=9fe888e3e4edde0ee89e8f252c598145ebd324bf);
    background-size: cover;
    background-repeat: no-repeat;
}

.FDS {
    height: 600px;
    width: 300px;
    background-color: rgb(41, 41, 41);
    margin: auto;
    border-radius: 15px;

}

.Botones {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.btn {
    height: 150px;
    width: 150px;
    margin-top: 30px;
}
.palo{
    height: 120px;
    width: 30px;
    background-color: rgb(41, 41, 41);
    margin: auto;

}

.iluminacion{
   -webkit-box-shadow:0px 0px 107px 23px rgba(227,227,86,0.65);
-moz-box-shadow: 0px 0px 107px 23px rgba(227,227,86,0.65);
box-shadow: 0px 0px 107px 23px rgba(227,227,86,0.65);

}

.btn-secondar{
    background-color: rgb(245, 113, 113);
}

.btn-secondar:hover{
    background-color: rgb(245, 113, 113);
}

.btn-danger{
    background-color: red;
}

.btn-seconda{
    background-color: rgb(238, 247, 123);
}

.btn-seconda:hover{
    background-color: rgb(238, 247, 123);
}

.btn-warning{
    background-color: rgb(251, 255, 0);
}

.btn-second{
    background-color: rgb(122, 255, 122);
}

.btn-second:hover{
    background-color: rgb(122, 255, 122);
}

.btn-success{
    background-color: rgb(0, 255, 0);
}