/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
    background-color: grey;
}

.FDS {
    height: 600px;
    width: 300px;
    background-color: black;
    margin: auto;

}

.Botones {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.btn {
    height: 150px;
    width: 150px;
    margin-top: 30px;
}
.palo{
    height: 120px;
    width: 30px;
    background-color: black;
    margin: auto;

}

.iluminacion{
   -webkit-box-shadow:0px 0px 107px 23px rgba(227,227,86,0.65);
-moz-box-shadow: 0px 0px 107px 23px rgba(227,227,86,0.65);
box-shadow: 0px 0px 107px 23px rgba(227,227,86,0.65);
border-color: aliceblue;
}